.ArtFont {
    font-family: Merriweather, 'PingFang SC', 'Microsoft Yahei', 'Times New Roman', serif;
}

.Serif {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial, sans-serif;
}

.Bold {
    font-weight: bold;
}

.Container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 16px 0 0 0;
    padding: 16px;
    height: auto;
    box-sizing: border-box;
    font-size: $fontSize3;
}

.Bottom {
    margin-bottom: 16px;
}

.Left {
    margin-left: 16px;
}

.Footer {
    font-size: $fontSize5;
}

.Interval {
    margin: 16px 0 0 0;
}

.Title {
    font-size: $fontSize8;
}

.Main {
    align-self: center;
    width: min(100% - 32px, 1200px);
    font-size: $fontSize3;
}

.Input {
    width: 300px;
}