$fontSize1: 10px;
$fontSize2: 12px;
$fontSize3: 14px;
$fontSize4: 16px;
$fontSize5: 17px;
$fontSize6: 18px;
$fontSize7: 20px;
$fontSize8: 22px;
$fontSize9: 24px;
$fontSize10: 25px;
$fontSize11: 26px;
$fontSize12: 28px;
$fontSize13: 30px;
$fontSize14: 32px;

$navBarHeight: 55px;

$modelDistanceMini: 10px;
$modelDistance: 20px;
$modelDistanceLarge: 35px;

$page_outerPaddingTop: 20px;
$page_outerPaddingLeft: 100px;

$home_outerPaddingTop: 20px;
$home_outerPaddingLeft: 40px;

$contest_outerPaddingTop: 30px;
$contest_outerPaddingLeft: 200px;

$problemList_outerPaddingTop: 30px;
$problemList_outerPaddingLeft: 30px;
$problemList_rightWidth: 400px;

$contestRank_outerPaddingTop: 30px;
$contestRank_outerPaddingLeft: 100px;
$contestRank_headerHeight: 42px;
$contestRank_itemHeight: 54px;

$problems_leftWidth: 280px;
$problem_rightWidth: 300px;

$status_outerPaddingTop: 50px;
$status_outerPaddingLeft: 120px;

$status_listPadding: 25px;

$userCenter_outerPaddingTop: 30px;
$userCenter_outerPaddingLeft: 130px;
$userCenter_toolnavWidth: 200px;

$adminCenter_contentPadding: 40px;

$animate-duration: 300ms !important;
