$cyberpunkTheme: (
	font1: #bfdee8,
	font2: #aedeee,
	font3: #7ad6f4,
	font4: #3fbfea,
	font5: #18b5ea,

	border1: #0dbb1f,
	border2: #37c946,
	border3: #6feb7c,
	border4: #8fec97,
	border5: #b2e4b7,
	border6: #e6f1dd,

	fill1: #0d2b43,
	fill2: #173059,
	fill3: #273076,
	fill4: #301a67,
	fill5: #422065,
	fill6: #563478,
	fill7: #754680,

	fill11: #dbbee6,
	fill12: #c892de,
	fill13: #a757c6,
	fill14: #762994,
	fill15: #661885,
	fill16: #570a75,

	fill21: #e1f3d8,
	fill22: #b1d1a2,
	fill23: #94c97c,
	fill24: #7cb761,
	fill25: #6aaf4a,
	fill26: #519b2e,

	fill31: #faecd8,
	fill32: #edd2b0,
	fill33: #e2b881,
	fill34: #dba45d,
	fill35: #c89047,
	fill36: #b87d30,

	fill41: #e4cacd,
	fill42: #e8bcc0,
	fill43: #e19ba1,
	fill44: #e16f79,
	fill45: #df4c58,
	fill46: #df2e3c,

	fill51: #e8e4c9,
	fill52: #eae0a1,
	fill53: #e6d67e,
	fill54: #e6d059,
	fill55: #d6bd2e,
	fill56: #bda310,

	base: #f2f3f5,
	base_page: #2e1d6e,
	base_over: #ffffff,
	base_trans: Transparent,
	base_black: #000000,
	base_white: #ffffff,
);
