$darkTheme: (
	font1: #e8e6d5,
	font2: #d7d5c2,
	font3: #b7b49b,
	font4: #898777,
	font5: #74736a,

	border1: #cdd0d6,
	border2: #d4d7de,
	border3: #dcdfe6,
	border4: #e4e7ed,
	border5: #ebeef5,
	border6: #f2f6fc,

	fill1: #181818,
	fill2: #3a3a3a,
	fill3: #515151,
	fill4: #636363,
	fill5: #999999,
	fill6: #a3a3a3,
	fill7: #c1c1c1,

	fill11: #b2d8ec,
	fill12: #97b9d9,
	fill13: #6fadcc,
	fill14: #3e8abc,
	fill15: #206689,
	fill16: #0a5275,

	fill21: #e1f3d8,
	fill22: #b1d1a2,
	fill23: #94c97c,
	fill24: #7cb761,
	fill25: #6aaf4a,
	fill26: #519b2e,

	fill31: #faecd8,
	fill32: #edd2b0,
	fill33: #e2b881,
	fill34: #dba45d,
	fill35: #c89047,
	fill36: #b87d30,

	fill41: #fcd3d3,
	fill42: #e8b5b5,
	fill43: #e39a9a,
	fill44: #d88383,
	fill45: #ce6868,
	fill46: #c45656,

	fill51: #e9e9eb,
	fill52: #c8cacd,
	fill53: #a9acb0,
	fill54: #a0a2a6,
	fill55: #84878b,
	fill56: #73767a,

	base: #f2f3f5,
	base_page: #212126,
	base_over: #ffffff,
	base_trans: Transparent,
	base_black: #000000,
	base_white: #ffffff,
);