$lightTheme: (
	font1: #303133,
	font2: #606266,
	font3: #909399,
	font4: #a8abb2,
	font5: #c0c4cc,
	font6: #ffffff,

	border1: #cdd0d6,
	border2: #d4d7de,
	border3: #dcdfe6,
	border4: #e4e7ed,
	border5: #ebeef5,
	border6: #f2f6fc,

	fill1: #e6e8eb,
	fill2: #ebedf0,
	fill3: #f0f2f5,
	fill4: #f5f7fa,
	fill5: #fafafa,
	fill6: #fafcff,
	fill7: #ffffff,

	fill11: #337ecc,
	fill12: #79bbff,
	fill13: #a0cfff,
	fill14: #c6e2ff,
	fill15: #d9ecff,
	fill16: #ecf5ff,

	fill21: #529b2e,
	fill22: #95d475,
	fill23: #b3e19d,
	fill24: #d1edc4,
	fill25: #e1f3d8,
	fill26: #f0f9eb,

	fill31: #b88230,
	fill32: #eebe77,
	fill33: #f3d19e,
	fill34: #f8e3c5,
	fill35: #faecd8,
	fill36: #fdf6ec,

	fill41: #c45656,
	fill42: #f89898,
	fill43: #fab6b6,
	fill44: #fcd3d3,
	fill45: #fde2e2,
	fill46: #fef0f0,

	fill51: #73767a,
	fill52: #b1b3b8,
	fill53: #c8c9cc,
	fill54: #dedfe0,
	fill55: #e9e9eb,
	fill56: #f4f4f5,

	base: #f2f3f5,
	base_page: #f2f3f5,
	base_over: #ffffff,
	base_trans: Transparent,
	base_black: #000000,
	base_white: #ffffff,
);

$darkTheme: (
	font1: #303133,
	font2: #606266,
	font3: #909399,
	font4: #a8abb2,
	font5: #c0c4cc,

	border1: #cdd0d6,
	border2: #d4d7de,
	border3: #dcdfe6,
	border4: #e4e7ed,
	border5: #ebeef5,
	border6: #f2f6fc,

	fill1: red,
	fill2: #ebedf0,
	fill3: #f0f2f5,
	fill4: #f5f7fa,
	fill5: #fafafa,
	fill6: #fafcff,
	fill7: #ffffff,

	fill11: #337ecc,
	fill12: #79bbff,
	fill13: #a0cfff,
	fill14: #c6e2ff,
	fill15: #d9ecff,
	fill16: #ecf5ff,

	fill21: #529b2e,
	fill22: #95d475,
	fill23: #b3e19d,
	fill24: #d1edc4,
	fill25: #e1f3d8,
	fill26: #f0f9eb,

	fill31: #b88230,
	fill32: #eebe77,
	fill33: #f3d19e,
	fill34: #f8e3c5,
	fill35: #faecd8,
	fill36: #fdf6ec,

	fill41: #c45656,
	fill42: #f89898,
	fill43: #fab6b6,
	fill44: #fcd3d3,
	fill45: #fde2e2,
	fill46: #fef0f0,

	fill51: #73767a,
	fill52: #b1b3b8,
	fill53: #c8c9cc,
	fill54: #dedfe0,
	fill55: #e9e9eb,
	fill56: #f4f4f5,

	base: #f2f3f5,
	base_page: #f2f3f5,
	base_over: #ffffff,
	base_trans: Transparent,
	base_black: #000000,
	base_white: #ffffff,
);

$themes: (
	darkTheme: $darkTheme,
	lightTheme: $lightTheme,
);
