$chineseTheme: (
	font1: #f3cf8a,
	font2: #f5d8a4,
	font3: #f7e0b6,
	font4: #eee2ca,
	font5: #f6f0e5,
	font6: #ffffff,

	border1: #981825,
	border2: #a82330,
	border3: #b53340,
	border4: #c14652,
	border5: #ce5e6a,
	border6: #d2727b,

	fill1: #ba2d39,
	fill2: #cd4651,
	fill3: #d55863,
	fill4: #d86d76,
	fill5: #d87d85,
	fill6: #e3999f,
	fill7: #e8afb4,

	fill11: #b9d1e6,
	fill12: #a9c7e0,
	fill13: #98bcda,
	fill14: #89b2d4,
	fill15: #74a4cb,
	fill16: #6394bd,

	fill21: #e1f3d8,
	fill22: #b1d1a2,
	fill23: #94c97c,
	fill24: #7cb761,
	fill25: #6aaf4a,
	fill26: #519b2e,

	fill31: #faecd8,
	fill32: #edd2b0,
	fill33: #e2b881,
	fill34: #dba45d,
	fill35: #c89047,
	fill36: #b87d30,

	fill41: #fcd3d3,
	fill42: #e8b5b5,
	fill43: #e39a9a,
	fill44: #d88383,
	fill45: #ce6868,
	fill46: #c45656,

	fill51: #568289,
	fill52: #45737a,
	fill53: #316168,
	fill54: #235157,
	fill55: #18464d,
	fill56: #0e353b,

	base: #f2f3f5,
	base_page: #a7202b,
	base_over: #ffffff,
	base_trans: Transparent,
	base_black: #000000,
	base_white: #ffffff,
);
