$customTheme: (
	font1: var(--font1),
	font2: var(--font2),
	font3: var(--font3),
	font4: var(--font4),
	font5: var(--font5),
	font6: var(--font6),
	border1: var(--border1),
	border2: var(--border2),
	border3: var(--border3),
	border4: var(--border4),
	border5: var(--border5),
	border6: var(--border6),
	fill1: var(--fill1),
	fill2: var(--fill2),
	fill3: var(--fill3),
	fill4: var(--fill4),
	fill5: var(--fill5),
	fill6: var(--fill6),
	fill7: var(--fill7),
	fill11: var(--fill11),
	fill12: var(--fill12),
	fill13: var(--fill13),
	fill14: var(--fill14),
	fill15: var(--fill15),
	fill16: var(--fill16),
	fill21: var(--fill21),
	fill22: var(--fill22),
	fill23: var(--fill23),
	fill24: var(--fill24),
	fill25: var(--fill25),
	fill26: var(--fill26),
	fill31: var(--fill31),
	fill32: var(--fill32),
	fill33: var(--fill33),
	fill34: var(--fill34),
	fill35: var(--fill35),
	fill36: var(--fill36),
	fill41: var(--fill41),
	fill42: var(--fill42),
	fill43: var(--fill43),
	fill44: var(--fill44),
	fill45: var(--fill45),
	fill46: var(--fill46),
	fill51: var(--fill51),
	fill52: var(--fill52),
	fill53: var(--fill53),
	fill54: var(--fill54),
	fill55: var(--fill55),
	fill56: var(--fill56),
	base: var(--base),
	base_page: var(--base_page),
	base_over: var(--base_over),
	base_trans: var(--base_trans),
	base_black: var(--base_black),
	base_white: var(--base_white),
);
